<!DOCTYPE html>
<html>
<head>
    <title>Dashboard - Helix Bot</title>
</head>
<body>
    <h1>Server Dashboard</h1>
    
    <% if (user) { %>
        <p>Welcome, <%= user.username %>#<%= user.discriminator %></p>
        
        <h2>Your Servers</h2>
        <div class="servers-grid">
            <% managedGuilds.forEach(function(guild) { %>
                <div class="server-card">
                    <% if (guild.icon) { %>
                        <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png" alt="<%= guild.name %>">
                    <% } %>
                    <h3><%= guild.name %></h3>
                    
                    <% if (botGuilds.has(guild.id)) { %>
                        <a href="/dashboard/servers/<%= guild.id %>" class="button">Manage</a>
                    <% } else { %>
                        <a href="<%= `https://discord.com/api/oauth2/authorize?client_id=${client.user.id}&permissions=8&scope=bot%20applications.commands&guild_id=${guild.id}` %>" 
                           class="button">Add Bot</a>
                    <% } %>
                </div>
            <% }); %>
        </div>
    <% } else { %>
        <p>Please <a href="/auth/login">login</a> to view your dashboard.</p>
    <% } %>
</body>
</html> 